{% extends "base.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static "association.css" %}" />
{% endblock %}
{% block title %}{{association.nom}}{% endblock %}




{% block onglets %}
<div id="menu_onglets">
<h1>{% if association.icone %}<img class="logo_assoce" src = "{{ association.icone.url }}" >{% endif %}{{association.nom}}</h1><br />

<ul class="nav nav-pills">
<li><a href="/associations/{{association.pseudo}}/description/"><img src="{% static "page_informations.png" %}">Description</a></li>
<li><a href="/associations/{{association.pseudo}}/news/"><img src="{% static "mail.png" %}">News</a></li>
<li><a href="/associations/{{association.pseudo}}/evenements/"><img src="{% static "date.png" %}">Évenements</a></li>
<li><a href="/associations/{{association.pseudo}}/equipe/"><img src="{% static "user.png" %}">Équipe</a></li>
<li><a href="/associations/{{association.pseudo}}/medias/"><img src="{% static "clapperboard.png" %}">Médias</a></li>
{% if association.page_set.all %}
{% for page in association.page_set.all %}
<li><a href="{% if not page.is_externe %}/associations/{{association.pseudo}}/{% endif %}{{ page.lien }}">{% if page.icone %}<img src="{{ page.icone.url }}">{% endif %}<span>{{page.titre}}</span></a></li>
{% endfor %}
{% endif %}
</ul>
<hr />
</div>
{% endblock %}

{% block content %}

{% endblock %}