{% extends "base.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static "association.css" %}" />
{% endblock %}
{% block title %}{{association.nom}}{% endblock %}




{% block onglets %}
<div id="menu_onglets">
<h1><img class="logo_assoce" src = "{% static "logo_" %}{{association.pseudo}}.png">{{association.nom}}</h1>

<ul class="nav nav-pills">
<li><a href="/associations/{{association.pseudo}}/messages/"><img src="{% static "mail.png" %}">Messages</a></li>
<li><a href="/associations/{{association.pseudo}}/evenements/"><img src="{% static "date.png" %}">Évenements</a></li>
<li><a href="/associations/{{association.pseudo}}/equipe/"><img src="{% static "user.png" %}">Équipe</a></li>
<li><a href="/associations/{{association.pseudo}}/medias/"><img src="{% static "clapperboard.png" %}">Médias</a></li>
{% if association.page_set.all %}
{% for page in association.page_set.all %}
<li><a href="{% if not page.is_externe %}/associations/{{association.pseudo}}/{% endif %}{{ page.lien }}"><img src="{% static '' %}page_{% if not page.is_externe %}{{page.lien}}{% else %}site{% endif %}.png"><span>{{page.titre}}</span></a></li>
{% endfor %}
{% endif %}
</ul>
<hr />
</div>
{% endblock %}
{% block content %}
{% for adhesion in membres %}
{% if request.user == adhesion.eleve.user %}
<p class="actions"><a href="/associations/{{association.pseudo}}/equipe/ajouter_membre/"><img src="{% static 'user_add.png' %}" title="Ajouter un membre"></a>
<a href="/associations/{{association.pseudo}}/equipe/supprimer_membre/"><img src="{% static 'user_delete.png' %}" title="Supprimer un membre"></a>
<a href="/associations/{{association.pseudo}}/equipe/changer_ordre/"><img src="{% static 'user_ordre.png' %}" title="Changer l'ordre"></a>
<a href="/associations/{{association.pseudo}}/equipe/changer_role/"><img src="{% static 'user_role.png' %}" title="Changer le rôle"></a></p>
{% endif %}
{% endfor %}

<div id="equipe">
	{% for adhesion in membres %}
		<div class="portrait">
		<img src="{% static '' %}{{adhesion.eleve.user.username}}.jpg" %}" />
		<p><a href = "{{ adhesion.eleve.get_absolute_url }}">{{ adhesion.eleve.first_name }} {{ adhesion.eleve.last_name|upper }}</a> {% if adhesion.role != "" %}<br />({{adhesion.role}}){% endif %}
            {% if changer_role %}<br /><br /><a href="/associations/{{ association.pseudo }}/equipe/changer_role/{{ adhesion.id }}">Modifier le rôle</a><br />{% endif %}</p>
		</div>
	{% endfor %}
</div>
<br>
<!--<h2>Liste des messages</h2>-->

{% endblock %}