{% extends "association/base_assoc.html" %}
{% load static %}

{% block content %}
{% for adhesion in membres %}
{% if request.user == adhesion.eleve.user %}
<p class="actions"><a href="/associations/{{association.pseudo}}/evenements/nouveau/"><img src="{% static 'evenement_nouveau.png' %}" title="Nouvel événement"></a></p>
{% endif %}
{% endfor %}

<div id = "div_evenements">
{% if liste_evenements %}
<ul>
{% for evenement in liste_evenements %}
<li> 
<div class="evenement">
	<div class="evenement_infos">
		<h3>{{ evenement.titre }}</h3>
		<p><strong>Quand</strong> : Le {{ evenement.date_debut|date:"d F Y" }}, de {{ evenement.date_debut|date:"H:i" }} à {{ evenement.date_fin|date:"H:i" }}<br/>
		<strong>Où</strong> : {{ evenement.lieu }}
	</div>
	
	<div class="evenement_contenu">
		<span class = "pull-right message-icone">
			{% for adhesion in membres %}
			{% if request.user == adhesion.eleve.user %}
			<a href="/evenements/{{ evenement.id }}/supprimer/"><img class='action_message' src="{% static 'supprimer.png' %}"  /></a>
			{% endif %}
			{% endfor %}
		</span>
		<p>{{ evenement.description|linebreaksbr}}</p>
		<hr>
	</div>
</div>
</li>
{% endfor %}
</ul>
{% else %}
<p>Désolé, il n'y a pas d'évenements prévus pour l'instant...</p>
{% endif %}
</div>

{% endblock %}