{% extends "base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static "association.css" %}" />
{% endblock %}

{% block content %}
<h1>Liste des associations</h1>
<ul class="liste_assoce">
	{% for association in assoces %}
		<li>
		<p>
		<a href = "/associations/{{ association.pseudo }}"><img src="{% if association.icone %}{{ association.icone.url }}{% endif %}"/>
		<br/>
		{{ association.nom }}</a>
		</p>
		</li>
	{% endfor %}
</ul>
{% endblock %}