{% extends "association/base_assoc.html" %}
{% load static %}

{% block content %}
{% for adhesion in membres %}
{% if request.user == adhesion.eleve.user %}
<p class="actions"><a href="/associations/{{association.pseudo}}/medias/affiche/ajouter/"><img src="{% static 'affiche_add.png' %}" title="Ajouter une affiche"></a>
<a href="/associations/{{association.pseudo}}/medias/video/ajouter/"><img src="{% static 'video_add.png' %}" title="Ajouter une vidéo"></a></p>
{% endif %}
{% endfor %}

<h3>Affiches</h3>
<div style="text-align:center">
{% for affiche in liste_affiches %}
<div class="affiche">
<a href="{{ MEDIA_URL }}{{ affiche.fichier }}"><img src="{{ MEDIA_URL }}{{ affiche.fichier }}"/></a>
<p class="legende">{{ affiche.titre }}</p>
{% for adhesion in membres %}
{% if request.user == adhesion.eleve.user %}
<p><a href="affiche/{{ affiche.id }}/supprimer/">Supprimer l'affiche</a></p>
{% endif %}
{% endfor %}
</div>

{% empty %}
<p>Aucune affiche publiée</p>
{% endfor %}


<h3>Vidéos</h3>
{% for video in liste_videos %}
<iframe width="100%" height="315" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
<p class="legende">{{ video.titre }}</p>
{% for adhesion in membres %}
{% if request.user == adhesion.eleve.user %}
<p><a href="video/{{ video.id }}/supprimer/">Supprimer la vidéo</a></p>
{% endif %}
{% endfor %}

{% empty %}
<p>Aucune vidéo publiée</p>
{% endfor %}
</div>

{% endblock %}
