{% extends "base.html" %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static "trombi.css" %}" />
    <link rel="stylesheet" href="{% static "list.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "jquery.multiselect.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "jquery.multiselect.filter.css" %}" />
	<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />

	<title>Trombi</title>
	<script src="{% static "jquery.maskedinput.js" %}" type="text/javascript"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{% static "jquery.multiselect.js" %}"></script>
	<script type="text/javascript" src="{% static "jquery.multiselect.filter.js" %}"></script>
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
	<script type="text/javascript" src="{% static "addplace_trombi.js" %}"></script>
	<script type="text/javascript" src="{% static "enterkey.js" %}"></script>
	<link rel="stylesheet" href="{% static "bootstrap-timepicker.min.css" %}" />
	<link rel="stylesheet" href="{% static "datepicker.css" %}" />
	<script type="text/javascript" src="{% static "bootstrap-timepicker.min.js" %}"></script>
	<script type="text/javascript" src="{% static "bootstrap-datepicker.js" %}"></script>
	<script type="text/javascript">
	jQuery(function($){
   $("#phone").mask("99 99 99 99 99");
});

</script>
{% endblock %}

{% block content %}

<form method="post" action="{{ request.path }}" id="editform">
{% csrf_token %}
<table class = "edit">
<tr>
<td><label for="surnom">Surnom</label></td>
<td><input type="text" id="surnom" value="{{ mineur.profile.surnom }}" name="surnom"></td>
</tr>
<tr>
<td><label for="phone">Téléphone</label></td>
<td><input type="text" id="phone" value="{{ mineur.profile.phone }}" name="phone"></td>
</tr>
<tr>
<td><label for="chambre">Chambre</label></td>
<td><input type="text" value="{{ mineur.profile.chambre }}" name="chambre"></td>
</tr>
<tr>
<td><label for="option">Option</label></td>
<td><input type="text" value="{{ mineur.profile.option }}" name="option"></td>
</tr>
<tr>
<td><label for="co">Co</label></td>
<td>
<select name = "co" multiple="multiple">
{% for eleve in autres_eleves %}
<option {% if eleve in mineur.profile.co.all %} selected="selected" {% endif %} value="{{ eleve.user.username }}">{{ eleve.first_name }} {{ eleve.last_name|upper }}</option>
{% endfor %}
</select>
</td>
</tr>
<tr>
<td><label for="parrains">Parrain</label></td>
<td>
<select name = "parrains" multiple="multiple">
{% for eleve in promo_superieure %}
<option {% if eleve in mineur.profile.parrains.all %} selected="selected" {% endif %} value="{{ eleve.user.username }}">{{ eleve.first_name }} {{ eleve.last_name|upper }}</option>
{% endfor %}
</select>
</td>
</tr>
<tr>
<td><label for="fillots">Fillot</label></td>
<td>
<select name = "fillots" multiple="multiple">
{% for eleve in promo_inferieure %}
<option {% if eleve in mineur.profile.fillots.all %} selected="selected" {% endif %} value="{{ eleve.user.username }}">{{ eleve.first_name }} {{ eleve.last_name|upper }}</option>
{% endfor %}
</select>
</td>
</tr>
<tr>
<td><label for="ville_origine">Ville d'origine</label></td>
<td><input type="text" value="{{ mineur.profile.ville_origine }}" name="ville_origine"></td>
</tr>
</table>
<hr>
<center><h2>Lieu du stage/S3</h2></center>
<table>
<tr>
	<td><label for="ville">Ville du stage/S3</label></td>
	<td>
		<input id='addressinput' value="{{ mineur.profile.ville }}" type='text' name='ville' />
		<input type='hidden' name='latitude' />
		<input type='hidden' name='longitude' />
	</td>
</tr>
<tr>
	<td><label for="centre">Chez</label></td>
	<td>
		<input type='text' value="{{ mineur.profile.centre }}" name='centre' />
	</td>
</tr>
<tr>
	<td><label for="centre">Date de début</label></td>
	<td>
		<div class="input-append date datepicker" data-date="{{ mineur.profile.date_debut_stage|date:'d/m/Y' }}" data-date-format="dd/mm/yyyy">
			<input class="input-small" type="text" name="date_debut_stage" value="{{ mineur.profile.date_debut_stage|date:'d/m/Y'}}">
			<span class="add-on"><i class="icon-th"></i></span>
		</div>
	</td>
</tr>
<tr>
	<td><label for="centre">Date de fin</label></td>
	<td>
		<div class="input-append date datepicker" data-date="{{ mineur.profile.date_fin_stage|date:'d/m/Y' }}" data-date-format="dd/mm/yyyy">
			<input class="input-small" type="text" name="date_fin_stage" value="{{ mineur.profile.date_fin_stage|date:'d/m/Y'}}">
			<span class="add-on"><i class="icon-th"></i></span>
		</div>
	</td>
</tr>
</table>
<hr>
<table class = "edit">
{% for question in liste_questions %}
<tr>

	<td><label for="question_{{question.id}}">{{question.enonce}}</label></td>
	<td><input type="text" value="{% for reponse in liste_reponses %}{% if question == reponse.question %}{{reponse.contenu}}{% endif %}{% endfor %}" name="question_{{question.id}}"></td>
</tr>
{% endfor %}
</table>
<input type="submit" />
</form>
<script type="text/javascript">
$('#timedebutpicker').timepicker({
showMeridian: false
});
$('#timefinpicker').timepicker({
showMeridian: false
});
$('.datepicker').datepicker();
</script>

<script type="text/javascript">
$("select").multiselect().multiselectfilter();

$('select[name="co"]').multiselect({
		minWidth: '250',
		selectedList: 3,
		selectedText: '# élèves sélectionnés',
		noneSelectedText: 'Choisir son co',
		checkAllText: 'Tous',
		uncheckAllText: 'Aucun',
}).multiselectfilter({
		label: "",
		placeholder: "Entrez un nom"
});

$('select[name="parrains"]').multiselect({
		minWidth: '250',
		selectedList: 3,
		selectedText: '# élèves sélectionnés',
		noneSelectedText: 'Choisir son parrain',
		checkAllText: 'Tous',
		uncheckAllText: 'Aucun',
}).multiselectfilter({
		label: "",
		placeholder: "Entrez un nom"
});

$('select[name="fillots"]').multiselect({
		minWidth: '250',
		selectedList: 3,
		selectedText: '# élèves sélectionnés',
		noneSelectedText: 'Choisir son fillot',
		checkAllText: 'Tous',
		uncheckAllText: 'Aucun',
}).multiselectfilter({
		label: "",
		placeholder: "Entrez un nom"
});
</script>
{% endblock %}
