{% extends "base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static "association.css" %}" />
{% endblock %}

{% block onglets %}
<div id="menu_onglets">
<h1><img class="logo_assoce" src = "{% static "logo_paindemine.png" %}">Pain de Mine</h1>
<ul class="nav nav-pills">
    <li><a href="/associations/paindemine/messages/"><img src="{% static "mail.png" %}"/><span>Messages</span></a></li>
    <li><a href="/associations/paindemine/evenements/"><img src="{% static "date.png" %}"/><span>Événements</span></a></li>
    <li><a href="/associations/paindemine/equipe/"><img src="{% static "user.png" %}"/><span>Équipe</span></a></li>
    <li><a href="/associations/paindemine/medias/"><img src="{% static "clapperboard.png" %}"/><span>Médias</span></a></li>
	<li><a href="/associations/paindemine/catalogue_pain/"><img src="{% static "page_catalogue_pain.png" %}"/><span>Catalogue</span></a></li>
    <li><a href="/associations/paindemine/soldespaindemine/"><img src="{% static "page_soldespaindemine.png" %}"/><span>Soldes</span></a></li>
    <li class="active"><a href="/associations/paindemine/affichagesoldes/"><img src="{% static "page_comptes.png" %}"/><span>Comptes</span></a></li>
</ul>
<hr />
</div>
{% endblock %}

{% if perms.soldes_paindemine %}

{{l}}
{% block content %}
<p>
	
{% for eleve,solde in liste_eleve %}

 {{eleve}} : {{solde}} <br \>

{% endfor %}
</p>
{% endblock %}
{% endif %}